/* src/components/AppOverviewSection.module.css */

.appOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .appOverview {
    flex-direction: row;
    justify-content: center; /* Center content horizontally */
    padding: 100px 40px;
  }
}

.imageContainer {
  flex: 2; /* Allocate 40% */
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .imageContainer {
    margin-bottom: 0;
    padding-right: 40px;
  }
}

.image {
  max-width: 40%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 3; /* Allocate 60% */
  text-align: center;
}

@media (min-width: 768px) {
  .content {
    text-align: left;
  }
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: var(--text-colour); /* Use CSS variable for text color */
}

.description {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: var(--text-colour); /* Use CSS variable for text color */
}

/* Removed .downloadButton since using custom Button component */
