/* src/components/TopNavBar.module.css */

.NavBar {
  width: 100%;
  background-color: var(--primary-colour);
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 16px;
}

.NavList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) {
  .NavBar {
    height: 50px;
    padding: 0 30px;
  }
}

.NavItem {
  position: relative;
  margin-right: 12px;
}

.NavLink {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: var(--background-white);
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  font-size: 14px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .NavItem {
    margin-right: 20px;
  }

  .NavLink {
    padding: 15px 20px;
    font-size: 16px;
  }
}

.NavLink:hover,
.NavLink:active {
  background-color: var(--primary-hover-colour); /* Darker primary shade on hover */
  color: var(--background-white); /* Maintain white text on hover */
}

.active {
  background-color: var(--primary-hover-colour); /* Use hover color for active state */
  color: var(--background-white); /* Maintain white text for active link */
  font-weight: bold; /* Bold text for active link */
}

/* Dropdown styles */
.DropdownMenu {
  display: none; /* Hidden by default */
  position: absolute; /* Positioned below the NavLink */
  top: 100%; /* Positioned below the NavLink */
  left: 0;
  background-color: var(--background-white); /* White background for dropdown */
  color: var(--text-colour); /* Black text for dropdown items */
  z-index: 1001; /* Higher than NavBar */
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
  min-width: 200px; /* Optional: Ensure dropdown has a minimum width */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  border-radius: 4px; /* Optional: Rounded corners */
}

.DropdownItem {
  padding: 10px 20px;
}

.DropdownItem .NavLink {
  padding: 10px 20px; /* Ensure correct padding */
  color: var(--text-colour); /* Black text for dropdown links */
  background-color: var(--background-white); /* Ensure white background */
}

.DropdownItem .NavLink:hover,
.DropdownItem .NavLink:active {
  background-color: var(--grey); /* Light grey background on hover */
  color: var(--black); /* Black text on hover */
}

.NavItem:hover .DropdownMenu {
  display: block; /* Show the dropdown */
}
